{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
{% endblock %}

{% block script %}
{% parent %}
{% endblock %}

{% block content %}
<div class="body-container container">
    <div class="row">
        <div class="col-md-12">
            <h4>D3 Component</h4>
        </div>  
    </div>
    <div class="row">
        <div class="col-md-8">
            <ul>
                <li><a href="/web/page/d3component-barchart">BarChart</a></li>
                <li><a href="/web/page/d3component-piechart">PieChart</a></li>
                <li><a href="/web/page/d3component-scatterplot">ScatterPlot</a></li>
                <li><a href="/web/page/d3component-linechart">LineChart</a></li>
                <li><a href="/web/page/d3component-areachart">AreaChart</a></li>
            </ul>
        </div>  
    </div>
</div>
{% endblock %}
