{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
<style>
.row {
    margin-top: 10px;
}
</style>
{% endblock %}

{% block script %}
{% parent %}
<script>
$().ready(function() {
    console.log('in d3component page');
});
</script>
{% endblock %}

{% block content %}
<div class="body-container container">
    <div class="row">
        <div class="col-md-12">
            <h4>D3 Component</h4>
        </div>  
    </div>
    <div class="row">
        <div class="col-md-8">
            <h4>Plot</h4>
        </div>  
    </div>
</div>
{% endblock %}
